.row {
  display: flex;
  gap: 18px;
  align-items: flex-start;
}

.row_poster {
  width: 240px;
  border-radius: 10px;
  height: auto;
  flex: 0 0 auto;
}

.infos {
  flex: 1;
  text-align: left;
}

/* Respon */
@media (max-width: 735px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
  
  .row_poster {
    width: 100%;
    max-width: 300px;
  }
  
  .infos {
    text-align: center;
    width: 100%;
  }
}

